@media only screen and (min-width: width 32.5em) {
    h1 {font-size:4em;}
    #profile {
        margin-left:2em;
        padding-right:.5em;
        padding-top:.4em;
        float: right;
        }

  }
