  
    .grid-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
        background-color:rgb(7, 26, 54);
        font-size: 0.8rem
        }

    .grid-container {display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color:rgb(7, 26, 54);
        padding: 10px;
    }

    h1 {
        text-align:center;
        color: white;
        padding: 5px;
        font-family: 'Shadows Into Light Two', cursive, Arial, Helvetica, sans-serif;
        margin-bottom:30px;
        line-height:2em;
        font-size:2em;
      }

      h2 {
        text-align:center;
        color: white;
        padding: 5px;
        font-family: 'Shadows Into Light Two', cursive, Arial, Helvetica, sans-serif;
        line-height:1em;
        font-size:1em;
      }
    
    #screenshot {
          margin-left:2em;
          padding-right:.5em;
          padding-top:.4em;
          }
    
    body {
      font-size: 20px;
      line-height: 32px;
      font-family:  'Noto Sans SC', sans-serif;
      background:rgb(182, 181, 181);
      color:rgb(71, 107, 29);
      }
    
    header,footer {background:rgb(7, 26, 54);
        width:100%;
        text-align: center;
        border-radius: 10px;
      }
    
    
    p {text-align:center;
      color:rgb(156, 154, 154);
      padding: 1em;
      font-family: 'Shadows Into Light Two', cursive;
      margin-bottom: 30px;
      line-height:1.1em;
      font-size: 1em;
      color:white;}
    
    a:link {color:rgb(38, 39, 38);}
    a:visited {color:white;}