* {box-sizing:border-box;}

/*General styling*/
body {font-family:'Montserrat', sans-serif;
    color:#182f3f;
    background-color: white;
    }

h1,h2,h3{font-family: 'Grand Hotel', cursive;
        color:#182f3f;
        margin: auto;
        font-weight:normal;
        padding: 10px;
        font-size: 2em;
    }
h1 {text-align: center;}
h2,h3,h4 {text-align: left;}

.maincontent {
    padding: 2em;
}

.features {font-size:1.5em;}

.contact {display: flex;
    justify-content: center;
    font-size:1.25em;
    background-color: #4e5632;
    color: white;
}

/*Header & footer*/
header {justify-content: center;
    display: flex;
}
footer{color:#083047;
    background-color: #cecece;
    justify-content: center;
    text-align: center;
    display:flex;
    width: 100%;
    margin:auto;
}

a {color:#4e5632;
    text-decoration: none;
}

/*Nav*/
nav{display:block;
    background-color:white;
    }

nav ul{display:flex;
list-style-type: none;
align-content: center;
text-align: center;
justify-content: space-evenly;
margin:0px;
font-size: 1.25em;
padding:0;
color: #182f3f;
background-color: white;
}

nav li {flex: 1 1 100%;
        padding: 10px;
        text-decoration: none;  
        color: #182f3f; 
}
nav li:first-child {display:none;}

nav li:hover {
        background-color: #cecece;
        color:#4e5632;
}

.active {color: #182f3f;
    background-color: #cecece;
  }

/*Buttons*/
.button {
    display: flex;
    border-radius: 5px;
    border: none;
    background-color:#4e5632;
    color:white;
    text-align: center;
    font-size: 1.75em;
    padding:15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}
.button span {
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    border: none;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 20px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;}

/*homepage specific*/
img[data-src]{
    filter:blur(.5em);
    }

.spread {margin: auto;
    width: 100%;
    }
.spread img {width: 100%;
    max-width: 2000px;
}
    
#hotelpic{width: 100%;
}

#icons{display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: auto;
    max-width: 2000px;
}

#templequote{text-align: center;
    margin: 20px;
    padding: 25px;
}

/*reservation page*/
.reserve {display: flex;
    justify-content: center;
    margin: auto;
    padding: 25px;
    align-items: center;
}

form {line-height: 2.5;
    width: 500px;
    margin: auto;
}

/*thankyou page*/
#thankyou {margin: auto;
    text-align: center;
    font-size: 1.75em;
}

/*Galleries*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    width: 100%;
    max-width: 2000px;
}

.gallery img{
    width: 100%;
    filter: blur(0em);
    transition-duration: .5s;
}

.gallery img:hover {box-shadow:0 0 20px #4e5632;
    margin: auto;
}

/*contact page*/
 #outside {
    display: flex;
    justify-content: center;
    padding:20px;
    margin: auto;
    width: 400px;
}
.googlemap {
    display: flex;
    justify-content: center;
}
.contact {display: flex;}