@media only screen and (max-width: 800px) {
    main, footer{width:100%;
                margin:auto;}
    
    .hometemple{display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        max-width: 100%;}

    .templepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .button{width:100%;}
    }