#content{
    max-width:960px;
    margin:0 auto;
    background-color:#d8d8d8
  } 
  nav {
    background-color:#eacf71;
  }
  
  .yellowbanner {background-color:#eacf71;
    width:100%;
    line-height: 3em;
    margin-top: -120px;
  }
  
  nav a {
    color:#1b546b;
    text-decoration:none;
    padding: 1.2em;
    line-height: 3em;
    margin-top: -120px;
  }
  
  nav a:hover{
  color: #76d1db;}
  
  nav ul {
    display:flex;
    margin:0;
    padding-left: 200px;
  }
  
  nav li {
    list-style-type:none;
    font-family: Helvetica;
    font-size:1.1em;
    display:inline-block;
    padding-left: 120px;
  }
  
  #logo {background:white;
    position:relative;
    width:200px;
    border: #eacf71;
    border-radius:15px;
    box-shadow: 5px 5px 5px #eacf71;
    margin-left:3em;
    margin-top:2em;
    padding-left:.5em;
    }
  
  .banner {width:100%}
  
  .top-row {display:flex; 
    flex-flow:row wrap;
    }
  
  .middle-row {
    background-color:#eacf71;
    display:flex;
    flex-flow:row wrap;
    }
  
  .bottom-row {
    background-color:#d8d8d8;
    padding:10px;
  }
    
  .headers {text-align:center;
  padding-left:3.5em;
  margin-top:3em;}
  
  h1,h2 {
    text-align:center;
    color:#76b1db;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: -30px;
    line-height:1.1em;
  }
  
  
  p {
    padding:10px;
    color:#1b546b;
    font-family: "Palatino linotype", "Times New Roman", serif;
    font-size:23px;
    padding-bottom:1em;
    text-align:center;
  }
  
  .darkblue-color {color:#1b546b;}
  
  .leftcol, .rightcol {max-width:48%;
    display:flex;
    flex-flow:row wrap;
    flex:1 0 15em;
    margin:.5em;
    text-align:center;
  }
  
  .border{  border: #1b546b;
    border-radius:15px;
    box-shadow: 5px 5px 5px #1b546b;
   }
  
  .footer {background-color:#76b1db;
      width:100%;
      height:105px;
      text-align:center;
  }
  
  .socialmedia {
    padding:10px;
    float:right;
  }
  
  img {max-width:100%;}
  
  .RND {color:#1b546b;
    font-family: "Palatino linotype", "Times New Roman", serif;
    font-size:23px;
    border:2px solid #1b546b;}
  
  .price {max-width:33%;
  }
  
  #ratesrow {display:flex;
  flex-direction:row;
  flex:1em;
  margin:.5em;}
  
  .whitewater {
    display:flex;
    flex-direction:row;
    }
  
  .grand {max-width: 35%;
      max-height:20%;
      margin-top:2.5em;
      margin-left:1em;
      border: #eacf71;
      border-radius:15px;
   }
  
  .gray {max-width:65%;
    color:#1b546b;
    font-family: "Palatino linotype", "Times New Roman", serif;
    font-size:16px;
  }
  